<section id= <%= id %> class="page__section">
    <h2 class = "section__heading"><a href=#<%=id%> > <%= heading %> </a></h2>
    <article class="section__container">
    <figure class="section__image-holder">
        <img src= <%= imageUrl %> alt="section Image " class="section__image">
    </figure>
        <div class="section__content">
             <h3 class="section__subheading">  <%= subHeading %> </h3>
             <P class="section__description">
               <%= description %>
            </P>
        </div>
    </article>
</section>
